.experience-section {
  background: linear-gradient(
    240.77deg,
    rgba(215, 255, 228, 0.5) -2.31%,
    rgba(221, 225, 255, 0.5) 71.55%
  );

  padding: 80px 0;
  position: relative;
  .section-title {
    color: #00ad37;
    color: #00ad37;
    font-size: 36px;
    font-weight: 600;
    letter-spacing: 0.5px;
  }
  .sub-title {
    color: #000000;
    font-size: 24px;
    margin-bottom: 50px;
    letter-spacing: 0.5px;
  }
}
